::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

a{
    color: #B1B1B1;
    text-decoration: none;
}

div::-webkit-scrollbar {
    display: none;
}

body	{ background-attachment:fixed; }

div{
    font-family: helvetica;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 5px;
    border-radius: 3px;
    border: none;

    outline: rgba(128, 128, 128, .75);

    background-color: rgba(255, 255, 255, 0.5);

    cursor: pointer; cursor: hand;
}

#select{
    margin: 0;
}

#champ_stacks_wrapper{
    display: inline-block;
}

.stacks{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    padding: 5px;
    border-radius: 3px;
    border: none;

    outline: rgba(128, 128, 128, .75);

    background-color: rgba(255, 255, 255, 0.5);

    width: 50px;
}

#champion_header{
    margin: 20px;
    position: relative;
    display: inline-block;
    float: left;
    padding: 5px;
    border-radius: 10px;
}

#mastery_bg, #rune_bg{
    border-radius: 10px;
    opacity: 0.8;
    position: relative;
    z-index: 10;
}

#rune_overlay{
    clear: both;
    position: absolute;
    z-index: 50;
    color: rgba(164, 164, 164, 0.51);

    font-size: 65px;
}

#rune{
    position: absolute;
    display: inline-block;
}

#champion_icon{
    float: left;
    border-radius: 5px;
}

#champion_title{
}

#build_items{
    position: relative;
    display: inline-block;
    float: right;
}

#rune_icon{
    width: 48px;
    height: 52px;

}

#quint_icon{
    width: 80px;
    height: 80px;
}

#build{
    margin: 10px;
}

.clickable{
    cursor: pointer; cursor: hand;
}

#rune_popup{
    z-index: 200;
    position: absolute;
    padding: 5px;
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 5px 5px rgba(75, 75, 75, 0.5);
}

.tooltip{
    z-index: 200;
    position: absolute;
    display: block;
    padding: 5px;
    border-radius: 10px;
    max-width: 200px;
    box-shadow: 5px 5px rgba(75, 75, 75, 0.5);

}

#rune_matrix{
    position: relative;
}

#tooltip_head_text{
    float: left;
    vertical-align: top;
    margin: 3px;
}

#tooltip_icon{
    float: left;
}

#tooltip_desc{
    color: #464646;
}

#tooltip_content{
    color: black;
    clear: both;
}

#build_masteries{
    margin-top: 10px;
    position: relative;
}

.mastery_grid{
    position: absolute;
    z-index: 100;
}

.mastery_table td{
    padding: 5px;
}

.point_counter{
    color: white;
    margin: 5px;
}

#offense_grid{
    top: 10px;
    left: 12px;
}

#defense_grid{
    top: 10px;
    left: 224px;
}

#utility_grid{
    top: 10px;
    left: 436px;
}

.mastery{
    width: 38px;
    height: 38px;
}

.desat{
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
}

.partsat{
    -webkit-filter: grayscale(60%); filter: grayscale(60%);
}

#build_masteries, #build_runes{
    clear: both;
    float: right;
    display: block;
}

#mastery_border, #rune_border{
    padding: 5px;
    border-radius: 10px;
}

#items_title{
    text-align: center;
}

#items_price{
    text-align: center;
    color: #c9ab13;
}

#champ_popup_wrapper{
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}

#divider{
    clear: both;
    height: 10px;
}

#champion_popup{
    margin-top: 10px;
    margin-left: -5px;
}

#champion_popup, #item_popup{
    border-radius: 10px;
    text-align: center;
}

#item_popup{
    width: 100%;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 5px;

    border: none;

    border-radius: 5px;
}

.search{
    width: calc(100% - 10px);
}

.popup{
    z-index: 100;
    overflow: hidden;
    position: absolute;
    height: auto;
    box-shadow: 3px 3px rgba(75, 75, 75, 0.5);
}

.scroll{
    height: 300px;
    overflow-y: scroll;
}

.enabled.item{
    z-index: 100;
    position: absolute;
}

.champion, .item{
    width: 48px;
    height: 48px;
    padding: 5px;
    border-radius: 10px;
}

.blank_item{
    width: 48px;
    height: 48px;
    padding: 5px;
    border-radius: 10px;
}

.blur {
    background-color: rgba(180, 180, 180, 0.7);
}

#build{
    alignment: right;
    float: right;
}

#champion_info{
    float: left;
    width: 50%;
}

#champion_header_text{
    float: left;
    padding-left: 10px;
}

#champion_stats{
    clear: both;
    float: left;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

#champion_stats_table{
    padding: 5px;
}

#champion_ability{
    clear: both;
}

#spell_icon{
    margin: 5px;
    float: left;
    height: 40px;
    vertical-align: middle;
    border-radius: 5px;
}

#champion_level{
    vertical-align: top;
}

#ability_title{
    float: left;
}

.ability_level{
    vert-align: middle;
    float: left;
    margin: 5px;
}

#ability_desc{
    clear: both;
}

#build_items_table{
    margin: 10px;
}

.lol_title{
    color: rgba(255, 255, 255, 0.9);
    font-size: x-large;
}

.lol_subtitle{
    color: #B1B1B1;
    font-size: medium;
}

.lol_content{
    font-size: small;
}

.spell{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.spell_content{
    padding: 5px;
}

.mastery_section{
    position: relative;
}

.selected{
    width: 46px;
    height: 46px;

    border: 1px solid #AAAAAA;
}

#guide_button{
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

#guide_title{
    font-size: medium !important;
}

#lol_login_panel{
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    float: right;
    margin: 13px;
}

#build_top{
    display: flex; /* or inline-flex */
    flex-flow: row nowrap; /* is default: columns along the main-axis (row) and no wrapping to next lines */
    align-items: flex-end; /* bottom */
    flex-direction: row-reverse;
}

#rune_select{
    position: absolute;
    z-index: 101;
    margin: 10px;
}

.mastery_counter{
    position: absolute;
    top: 28px;
    left: 20px;
    display: block;
    color: #B1B1B1;
    background-color: rgba(70, 70, 70, 0.5);
    border: 1px solid #404040;
    padding: 1px;
}

#riot_footer{
    clear: both;
    bottom: 0;
    width: 90%;
    font-size: x-small;
    padding: 5px;
    border-radius: 3px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

html{
    width:100vw;
    height:100vh;
    margin:0;
}

#wrapper{
    position: relative;
}