<!DOCTYPE html>
<html lang="en" ng-app="build">
<head>
    <meta charset="UTF-8">
    <title>build.lol</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-sanitize.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
    <script src="newblur.js"></script>
    <script src="util.js"></script>
    <script src="champion_calculator.js"></script>
    <script src="champion.js"></script>
    <link href="./global.css" media="all" rel="stylesheet" />
    <link rel='stylesheet' media='screen and (max-width: 1400px)' href="./condensed.css" />
</head>
<body ng-controller="CalculatorController as calculator">
    <img id="bg" ng-if="calculator.isMobile()" src="./bg/1.jpg">
    <div ng-init="calculator.init()" id="wrapper" ng-hide="calculator.mobileShowBody()">
        <div id="error" ng-if="calculator.showError()">
            {{"Error: " + calculator.getError()}}
        </div>
        <div  ng-if="calculator.should_show()">
            <div id="champion_info">
                <div>
                    <div id="champion_header" class="blur">
                        <img src="{{ calculator.getImage(calculator.getChampion().base.image) }}" class="lol_icon clickable" id="champion_icon" ng-click="calculator.champ_popup_toggle()">
                        <div id="champion_header_text">
                            <div class="lol_title" id="champion_title">{{ calculator.getChampion().base.name }}</div>
                            <div class="lol_subtitle" id="champion_subtitle">{{ calculator.getChampion().base.title }}</div>
                        </div>
                        <div id="champ_popup_wrapper" ng-if="!calculator.isMobile()">
                            <div id="champion_popup" class="popup light_blur" ng-hide="!calculator.should_show_champion_popup()">
                                <input type="text" id="champion_search" class="search" placeholder="search" ng-model="search.champ" ng-change="calculator.update_champion_search()" align="center" spellcheck="false">
                                <div id="tbl" class="scroll" align="center">
                                    <table id="champion_search_results" ng-if="calculator.showChampSearch()">
                                        <tr ng-repeat="i in []| range:calculator.getChampSearchRows()">
                                            <td ng-repeat="champ in calculator.getChampSearchRow(i)">
                                                <img src="{{ calculator.getImage(champ.image) }}" onerror="this.src='notfound.png'" class="lol_icon champion clickable" ng-click="calculator.switchChamp(champ)" ng-mouseenter="calculator.setChampHover(champ)" ng-mouseleave="calculator.setChampHover(undefined)">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="champion_tooltip" class="light_blur tooltip" ng-hide="!calculator.showChampTooltip()" ng-if="!calculator.isMobile()">
                        <div id="tooltip_head_text">
                            <div id="tooltip_title">{{calculator.getChampHover().name}}</div>
                            <div id="tooltip_desc">{{calculator.getChampHover().title}}</div>
                        </div>
                        <br>
                        <div id="tooltip_content" class="lol_content">
                            {{calculator.items.data[calculator.getItemHover()].sanitizedDescription}}
                        </div>
                    </div>
                    <div id="champion_stats" class="blur">
                        <select id="champion_level" ng-model="champ_level" ng-change="calculator.set_level()" ng-init="champ_level = 0">
                            <option ng-repeat="i in [] | range:18" value="{{ i }}">{{ "Level " + (i + 1) }}</option>
                        </select>
                        <div ng-if="calculator.getChampion().supp_json.stacks" id="champ_stacks_wrapper">
                            Stacks:
                            <input type="number" pattern="\d*" id="champ_stacks" min="0" value="0" class="stacks" ng-model="stacks.champ" ng-change="apply()" ng-init="stacks.champ = 0"; max="{{calculator.getChampion().getMaxStacks()}}">
                        </div>
                        <table id="champion_stats_table">
                            <tr>
                                <td>Armor</td>
                                <td>{{ calculator.round(calculator.getChampion().getArmor()) }}</td>
                                <td id="table_space"></td>
                                <td>Magic Resist</td>
                                <td>{{ calculator.round(calculator.getChampion().getMR()) }}</td>
                            </tr>
                            <tr>
                                <td>Health</td>
                                <td>{{ calculator.round(calculator.getChampion().getHP()) }}</td>
                                <td id="table_space"></td>
                                <td>{{calculator.getChampion().base.partype}}</td>
                                <td>{{ calculator.round(calculator.getChampion().getMana()) }}</td>
                            </tr>
                            <tr>
                                <td>Health Regen</td>
                                <td>{{ calculator.round(calculator.getChampion().getHPRegen()) }}</td>
                                <td id="table_space"></td>
                                <td>Mana Regen</td>
                                <td>{{ calculator.round(calculator.getChampion().getManaRegen()) }}</td>
                            </tr>
                            <tr>
                                <td>Attack Damage</td>
                                <td>{{ calculator.round(calculator.getChampion().getAD()) }}</td>
                                <td id="table_space"></td>
                                <td>Attack Speed</td>
                                <td>{{ calculator.round(calculator.getChampion().getAttackSpeed()) }}</td>
                            </tr>
                            <tr>
                                <td>Crit Chance</td>
                                <td>{{ calculator.round(calculator.getChampion().getCritChance()) * 100 + "%" }}</td>
                                <td id="table_space"></td>
                                <td>Crit Damage</td>
                                <td>{{ calculator.round(calculator.getChampion().getCritDamage()) * 100 + "%" }}</td>
                            </tr>
                            <tr>
                                <td>Range</td>
                                <td>{{ calculator.round(calculator.getChampion().getRange()) }}</td>
                                <td id="table_space"></td>
                                <td>Speed</td>
                                <td>{{ calculator.round(calculator.getChampion().getSpeed()) }}</td>
                            </tr>
                            <tr>
                                <td>CDR</td>
                                <td>{{ calculator.round(1 - calculator.round(calculator.getChampion().getCD())) * 100 + '%' }}</td>
                                <td id="table_space"></td>
                                <td>Ability Power</td>
                                <td>{{ calculator.round(calculator.getChampion().getAP(true)) }}</td>
                            </tr>
                            <tr>
                                <td>Life Steal</td>
                                <td>{{ calculator.round(calculator.getChampion().getLifeSteal() * 100) + "%" }}</td>
                                <td id="table_space"></td>
                                <td>Spell Vamp</td>
                                <td>{{ calculator.round(calculator.getChampion().getSpellVamp() * 100) + "%" }}</td>
                            </tr>
                            <tr>
                                <td>Armor Pen</td>
                                <td>{{ calculator.round(calculator.getChampion().getArmorPen()) }}</td>
                                <td id="table_space"></td>
                                <td>Magic Pen</td>
                                <td>{{ calculator.round(calculator.getChampion().getMagicPen()) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div id="divider"></div>
                    <div id="champion_ability" ng-repeat="spell in calculator.getChampion().getSpells()" class="spell blur" ng-init="spell_levels = []">
                        <div id="spell_header">
                            <img src="{{ calculator.getImage(spell.image) }}" class="lol_icon" id="spell_icon">
                            <div class="lol_title" id="ability_title">{{ spell.name }}</div>
                            <select id="{{ 'ability_level_' + spell.key }}" class="ability_level" ng-model="spell_levels[spell.key]" ng-change="apply()" ng-init="spell_levels[spell.key] = 0">
                                <option ng-repeat="i in [] | range:spell.maxrank + 1" value="{{ i }}" >{{ i == 0?"Not Leveled":"Level " + (i) }}</option>
                            </select>
                        </div>
                        <div id="{{ 'champion_ability_text_' + spell.key }}" class="spell_content">
                            <div class="lol_content" id="ability_desc">{{ spell.parsed }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="build">
                <div id="build_top">
                    <div id="build_items">
                        <div class="lol_title" id="items_title">Items</div>
                        <div class="lol_subtitle" id="items_price">{{ 'Total cost: ' + calculator.getChampion().getBuildPrice() }}</div>
                        <table id="build_items_table">
                            <tr>
                                <td ng-repeat="item in calculator.getChampion().getItems().slice(0, 3) track by $index">
                                    <img ng-if="item != 0" class="item enabled clickable" id="{{'item_img'+$index}}" src="{{ calculator.getImage(calculator.items.data[item].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.item_clicked($event)" ng-mouseenter="calculator.setItemHover(item)" ng-mouseleave="calculator.setItemHover(-1)">
                                    <div class="blank_item blur clickable" id="{{'item_button'+$index}}" ng-click="calculator.item_clicked($event)"></div>
                                </td>
                            </tr>
                            <tr>
                                <td ng-repeat="item in calculator.getChampion().getItems().slice(3, 7) track by $index">
                                    <img ng-if="item != 0" class="item enabled clickable" id="{{'item_img'+($index + 3)}}" src="{{ calculator.getImage(calculator.items.data[item].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.item_clicked($event)" ng-mouseenter="calculator.setItemHover(item)" ng-mouseleave="calculator.setItemHover(-1)">
                                    <div class="blank_item blur clickable" id="{{'item_button'+($index + 3)}}" ng-click="calculator.item_clicked($event)"></div>
                                </td>
                            </tr>
                        </table>
                        <div id="item_popup" class="popup light_blur" ng-hide="!calculator.should_show_item_popup()"  ng-if="!calculator.isMobile()">
                            <div ng-if="calculator.item_json[calculator.getChampion().state.items[calculator.active_item]].stacks" id="champ_stacks_wrapper">
                                Stacks:
                                <input type="number" pattern="\d*" id="item_stacks" min="0" value="0" class="stacks" ng-model="item_stacks[calculator.active_item]" ng-change="calculator.set_item_stacks(calculator.active_item, item_stacks[calculator.active_item])" max="{{calculator.item_json[calculator.getChampion().state.items[calculator.active_item]].stacks}}">
                            </div>
                            <input type="text" id="item_search" class="search" placeholder="search" ng-model="search.item" ng-change="calculator.update_search()" align="center" spellcheck="false">
                            <div id="tbl" align="center" class="scroll">
                                <table id="item_search_results" ng-if="calculator.showSearch()">
                                    <tr ng-repeat="i in []| range:calculator.getItemSearchRows()">
                                        <td ng-repeat="item in calculator.getItemSearchRow(i)">
                                            <img src="{{ calculator.getImage(calculator.items.data[item].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.item_click(item)" ng-mouseenter="calculator.setItemHover(item)" ng-mouseleave="calculator.setItemHover(-1)">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="lol_login_panel" class="blur lol_subtitle">
                        <div id="lol_login_text">
                            Load runes and masteries
                        </div>
                        <input id="summ_name" type="text" placeholder="Summoner name" ng-keypress="calculator.login_keypress($event)">
                        <select id="region_select">
                            <option ng-repeat="r in calculator.getRegions()" value="{{r.code}}" ng-selected="{{r.code == 'na'}}">{{ r.name }}</option>
                        </select>
                        <button ng-click="calculator.lol_login()">Load</button>
                    </div>
                    <div id="item_tooltip" class="light_blur tooltip" ng-hide="!calculator.showTooltip()" ng-if="!calculator.isMobile()">
                        <div id="tooltip_head_text">
                            <div id="tooltip_title">{{calculator.items.data[calculator.getItemHover()].name}}</div>
                            <div id="tooltip_desc">{{calculator.items.data[calculator.getItemHover()].plaintext}}</div>
                        </div>
                        <br>
                        <div id="tooltip_content" class="lol_content" ng-bind-html="calculator.getItemDesc(calculator.getItemHover())">
                        </div>
                    </div>
                </div>
                <div id="build_runes">
                    <div ng-if="calculator.summ_logged()">
                        <select id="rune_select" ng-model="rune_page" ng-change="calculator.apply_runes()" ng-init="rune_page = 0">
                            <option ng-repeat="i in [] | range:calculator.summ_runes.length + 1" value="{{ i }}" >{{ i == 0?"Empty":calculator.summ_runes[i - 1].name }}</option>
                        </select>
                    </div>
                    <div id="rune_border" class="blur">
                        <img src="https://s3-us-west-1.amazonaws.com/riot-api/img/rune-bg.png" id="rune_bg">
                    </div>
                    <div id="rune_matrix">
                        <div id="rune_overlay" ng-repeat="rune in calculator.getChampion().state.runes track by $index">
                            <div id="rune" style="{{calculator.getRuneStyle($index, rune)}}" ng-click="calculator.rune_click($index)" class="clickable">
                                <div id="select" ng-if="rune == -1">
                                    &#x2b22;
                                </div>
                                <div ng-if="rune != -1">
                                    <img src="{{ calculator.getImage(calculator.runes.data[rune].image) }}" onerror="this.src='notfound.png'" ng-mouseenter="calculator.setRuneHover(rune)" ng-mouseleave="calculator.setRuneHover(-1)" id="{{$index > 26 ? 'quint_icon':'rune_icon'}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rune_popup" class="popup light_blur" ng-hide="!calculator.should_show_rune_popup()" ng-if="!calculator.isMobile()">
                    <input type="text" id="rune_search" class="search" placeholder="search" ng-model="search.rune" ng-change="calculator.update_rune_search()" align="center" spellcheck="false">
                    <div id="rune_tbl" align="center" class="scroll">
                        <table id="rune_search_results" ng-if="calculator.showRuneSearch()">
                            <tr ng-repeat="i in []| range:calculator.getRuneSearchRows()">
                                <td ng-repeat="rune in calculator.getRuneSearchRow(i)">
                                    <img src="{{ calculator.getImage(calculator.runes.data[rune].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.rune_select(rune)" ng-mouseenter="calculator.setRuneHover(rune)" ng-mouseleave="calculator.setRuneHover(-1)">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="rune_tooltip" class="light_blur tooltip" ng-hide="!calculator.showRuneTooltip()" ng-if="!calculator.isMobile()">
                    <div id="tooltip_head_text">
                        <div id="tooltip_title">{{calculator.runes.data[calculator.getRuneHover()].name}}</div>
                        <div id="tooltip_desc">{{calculator.runes.data[calculator.getRuneHover()].sanitizedDescription}}</div>
                    </div>
                    <br>
                </div>
                <div id="build_masteries">
                    <div id="mastery_border", class="blur">
                        <img src="Masteries-background.jpg" id="mastery_bg">
                        <div ng-if="calculator.summ_logged()">
                            <select id="mastery_select" ng-model="mastery_page" ng-change="calculator.apply_masteries()" ng-init="mastery_page = 0">
                                <option ng-repeat="i in [] | range:calculator.summ_masteries.length + 1" value="{{ i }}" >{{ i == 0?"Empty":calculator.summ_masteries[i - 1].name }}</option>
                            </select>
                        </div>
                    </div>
                    <div id="grids" ng-if="calculator.showMasteries()">
                        <mastery tree="Offense"></mastery>
                        <mastery tree="Defense"></mastery>
                        <mastery tree="Utility"></mastery>
                    </div>
                </div>
                <div id="mastery_tooltip" class="light_blur tooltip" ng-hide="!calculator.showMasteryTooltip()" ng-if="!calculator.isMobile()">
                    <div id="tooltip_head_text">
                        <div id="tooltip_title">{{calculator.masteries.data[calculator.getMasteryHover()].name}}</div>
                    </div>
                    <div id="tooltip_content" class="lol_content">
                        {{calculator.getMasteryDesc(calculator.getMasteryHover())}}
                    </div>
                </div>
            </div>
        </div>
        <div id="riot_footer" class="blur">
            <a href="contact.html">Contact me!</a>
            <br>
            lolbuild.gg isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
    <div id="mobile_selectors" ng-if="calculator.isMobile()">
        <div id="mobile_select_bg" ng-hide="!calculator.inPopup()"></div>
        <div id="champion_popup" ng-hide="!calculator.should_show_champion_popup()">
            <img src="{{ calculator.getImage(calculator.getChampion().base.image) }}" onerror="this.src='notfound.png'" class="lol_icon champion clickable mobile_preview" ng-click="calculator.champ_popup_toggle()">
            <input type="text" id="champion_search" class="search" placeholder="search" ng-model="search.champ" ng-change="calculator.update_champion_search()" align="center" spellcheck="false">
            <div id="tbl" class="scroll" align="center">
                <table id="champion_search_results" ng-if="calculator.showChampSearch()">
                    <tr ng-repeat="i in []| range:calculator.getChampSearchRows()">
                        <td ng-repeat="champ in calculator.getChampSearchRow(i)">
                            <img src="{{ calculator.getImage(champ.image) }}" onerror="this.src='notfound.png'" class="lol_icon champion clickable" ng-click="calculator.switchChamp(champ)" ng-mouseenter="calculator.setChampHover(champ)" ng-mouseleave="calculator.setChampHover(undefined)">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="item_popup" ng-hide="!calculator.should_show_item_popup()">
            <div ng-if="calculator.item_json[calculator.getChampion().state.items[calculator.active_item]].stacks" id="champ_stacks_wrapper">
                Stacks:
                <input type="number" pattern="\d*" id="item_stacks" min="0" value="0" class="stacks" ng-model="item_stacks[calculator.active_item]" ng-change="calculator.set_item_stacks(calculator.active_item, item_stacks[calculator.active_item])" ng-init="item_stacks[calculator.active_item] = 0"; max="{{calculator.item_json[calculator.getChampion().state.items[calculator.active_item]].stacks}}">
            </div>
            <input type="text" id="item_search" class="search" placeholder="search" ng-model="search.item" ng-change="calculator.update_search()" align="center" spellcheck="false">
            <div id="tbl" align="center" class="scroll">
                <table id="item_search_results" ng-if="calculator.showSearch()">
                    <tr ng-repeat="i in []| range:calculator.getItemSearchRows()">
                        <td ng-repeat="item in calculator.getItemSearchRow(i)">
                            <img src="{{ calculator.getImage(calculator.items.data[item].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.item_click(item)" ng-mouseenter="calculator.setItemHover(item)" ng-mouseleave="calculator.setItemHover(-1)">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="rune_popup" ng-hide="!calculator.should_show_rune_popup()">
            <input type="text" id="rune_search" class="search" placeholder="search" ng-model="search.rune" ng-change="calculator.update_rune_search()" align="center" spellcheck="false">
            <div id="tbl" align="center" class="scroll">
                <table id="rune_search_results" ng-if="calculator.showRuneSearch()">
                    <tr ng-repeat="i in []| range:calculator.getRuneSearchRows()">
                        <td ng-repeat="rune in calculator.getRuneSearchRow(i)">
                            <img src="{{ calculator.getImage(calculator.runes.data[rune].image) }}" onerror="this.src='notfound.png'" class="lol_icon item clickable" ng-click="calculator.rune_select(rune)" ng-mouseenter="calculator.setRuneHover(rune)" ng-mouseleave="calculator.setRuneHover(-1)">
                            <br>
                            {{calculator.runes.data[rune].name}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>