.arrow-down{
    height:50px;
    width:50px;
    position:relative;
    color: transparent;
    overflow:hidden;
}
.arrow-down:after{
    height:100%;
    width:100%;
    position:relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    content:'';
    display:block;
    position:absolute;
    left:-75%;
    background-size:cover;
}